.App {
    text-align: center;
}

.app-header {
    @apply py-4;
    @apply container;
    @apply mx-auto;
    @apply px-40;
}

.app-header input {
    @apply px-4 py-2;
    @apply w-2/3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.app-body {
    @apply container;
    @apply mx-auto;
    @apply px-40;
}

.category-button {
    @apply w-full;
    @apply flex;
    @apply flex-wrap;
    @apply justify-center;
    @apply mb-6;
}

.category-button button {
    @apply grow;
    @apply border-2;
    @apply border-solid;
    @apply border-zinc-700;
    @apply bg-slate-100;
    @apply hover:bg-slate-400;
}

.category-button .active {
    @apply bg-slate-700;
    @apply text-white;
    @apply hover:bg-slate-700;
    @apply hover:cursor-default;
}

@media only screen and (max-width: 768px) {
    .app-header {
        @apply px-10;
    }

    .app-body {
        @apply px-10;
    }
}

@media only screen and (max-width: 480px) {
    .app-header {
        @apply px-4;
    }

    .app-body {
        @apply px-4;
    }

    .category-button {
        @apply w-full;
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply mb-6;
    }
}
