.App {
    text-align: center;
}

.app-header {
    @apply py-4;
    @apply container;
    @apply mx-auto;
    @apply px-40;
}

.app-header input {
    @apply px-4 py-2;
    @apply w-2/3;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.category-button {
    @apply w-full;
    @apply flex;
    @apply flex-wrap;
    @apply justify-center;
}

.category-button button {
    @apply grow;
    @apply border-2;
    @apply border-solid;
    @apply border-zinc-700;
    @apply bg-slate-100;
    @apply hover:bg-slate-400;
}

.category-button .active {
    @apply bg-slate-700;
    @apply text-white;
}
